<div class="Flex_row">
  <h1>Browse All Courses</h1>
</div>
<div class="Flex_row" style="display:flex;">
  <div style="width:400px;font-size:7px;margin-left:10px;"><span>Showing 12 of 18 Results</span></div>
  <div style="font-size:7px;">
  <span class="glyphicon glyphicon-th-list"></span>
  <span class="glyphicon glyphicon-filter"></span>
  </div>
</div>
<div style="margin-left:10px;">
<a routerLink = "app-all">All</a>
<a routerLink = "app-focus">your Focus</a>
<a routerLink = "app-career">Career Accelerator</a>
</div>

<router-outlet></router-outlet>
