@import "~bootstrap/dist/css/bootstrap.css"

.Flex_row {
    Width: 100%;

}
.ïmg-container {
  Width: 100%;

}
.ïmg-container img {
 width:88px
 height:60px;
 float:left;
 margin:0px 10px 10px 10px;      
}

.Flex_row h1 {
 font-size: 10px;
 width: 100%;
 line-height: 5px;
 border-radius: 2px;
 padding: 10px;
 color: #fff;
 background: #ffff00;

}
.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
  
  }
  a {

    margin-right:5px;
    font-size:8px;
}